body {
    margin: 5%;
    color: white;
    --primary-bk: rgb(37, 37, 37);
    --secondary-bk: rgb(52, 52, 52);
    --tertiary-bk: rgb(56, 59, 65);
}
html {
    background-color: rgb(37, 37, 37);
}
h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-bottom: 10px;
}


/***************************************************************************/
/* Vertical Slider */
/***************************************************************************/
.vert-slider-container {
    background-color: rgba(62, 66, 69, 1);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 170px;
    width: 36px;
    padding-top: 10px;
    padding-bottom:5px;
    gap: 5px; 
}

/* for the tick marks on slider */
.vert-slider::before {
    content: '';
    position: absolute;
    left: -50%; /* Extend tick marks to the left */
    top: 0; 
    background: repeating-linear-gradient(
        to top,
        transparent 5px, 
        transparent 15px, 
        rgba(103, 105, 107, 1) 6px, 
        rgba(103, 105, 107, 1) 16px 
    );
    z-index: -1; 
    pointer-events: none;
    width: 24px;
    height: 100%;
}

.vert-slider {
    -webkit-appearance: none;
    -moz-appearance: none;

    writing-mode: vertical-lr;
    direction: rtl;

    border-radius: 3px;
    height: 200px;
    width: 12px; 
    cursor: pointer;
    position: relative;
    align-items: center;
    background: rgba(38, 42, 45, 1);
    outline: none;
    opacity: 0.85;
}

/* .vert-slider:hover {
    box-shadow: 0 0 0 0.5px rgb(10, 255, 136);
} */

/* the knob of the slider */
.vert-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 20px; /* because track width is 12px*/
    height: 10px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer; /* Pointer on hover */
    background: linear-gradient(
        to top,
        transparent 38%,
        rgba(132, 137, 138, 1) 38%,
        rgba(132, 137, 138, 1) 55%,
        transparent 56%
    );
    background-color: rgb(255, 255, 255);
}

.vert-slider-value {
    pointer-events: auto; 
    user-select: auto;
    /* padding: 5px; */
    width: 60%;
    text-align: center;
    font-size: 12px;
    color: rgba(132, 137, 138, 1); 
    /* border: 1px solid rgba(132, 136, 138, 1); */
    /* background-color: rgba(198, 198, 198, 1); */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 5px;
    #textBox{ z-index:1000; }
}

.vert-slider-value:focus {
    outline: 1px solid black; 
    /* background-color: rgba(132, 136, 138, 1); */
    background-color: rgba(132, 137, 138, 1);
    box-shadow: none; 
    color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/***************************************************************************/
/* Horizontal Slider */
/***************************************************************************/
.hori-slider-container {
    /* background-color: red; */
    background-color: rgba(62, 66, 69, 1);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 242.5px;
    height: 36px;
    gap: 5px; 
    position: relative;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* 
.slider-label {
    background-color: red;
    font-size: 14px;
    color: red;
    text-align: center;
    margin-bottom: 5px; /* Space between label and slider 
}  */

/* for the tick marks on slider */
.hori-slider::before {
    content: ''; 
    position: absolute;
    /* left: -50%; Extend tick marks to the left */
    /* top: -50%;  */
    background: repeating-linear-gradient(
        to right, 
        transparent 5px, 
        transparent 15px, 
        rgba(103, 105, 107, 1) 6px, 
        rgba(103, 105, 107, 1) 16px 
    ); 
    z-index: -1; 
    pointer-events: none;
    height: 24px;
    width: 100%;
}

.hori-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    /* width: 200px; */
    width:100%;
    height: 12px; 
    cursor: pointer;
    position: relative;
    align-items: center;
    background: rgba(38, 42, 45, 1);
    outline: none;
    opacity: 0.85;
    writing-mode: horizontal-tb;
    margin: 0;
    border-radius: 3px;
}


/* the knob of the slider */
.hori-slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    height: 20px; 
    width: 10px;    /* because track width is 12px*/
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer; /* Pointer on hover */
    background: linear-gradient(  /* for creating a line on the knob */
        to right,
        transparent 38%,
        rgba(132, 137, 138, 1) 38%,
        rgba(132, 137, 138, 1) 55%,
        transparent 56%
    );
    background-color: rgb(255, 255, 255);
}

.hori-slider-value {
    pointer-events: auto; 
    user-select: auto;
    text-align: center;
    line-height: normal;
    padding: 5px;
    width: 10%;
    height: 25%;
    font-size: 12px;
    color: rgba(132, 137, 138, 1); 
    /* border: 1px solid rgba(132, 136, 138, 1); */
    /* background-color: rgba(198, 198, 198, 1); */
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(198, 198, 198, 1);
    border-radius: 5px;
    #textBox{ z-index:1000; }
}

.hori-slider-value:focus {
    outline: 1px solid black; 
    background-color: rgba(132, 137, 138, 1);
    box-shadow: none; 
    color: white;
}